* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #d4d4d4;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
}

.container {
	position: absolute;
	left: 50%;
}

.paper {
	position: relative;

	min-width: 400px;
	max-width: 800px;

	height: 480px;
	margin: 0 auto;

	background-color: #fafafa;

	box-shadow: 5px 10px 20px rgb(0, 0, 0, 0.4);

	border-radius: 20px;

	overflow: hidden;
}

.paper::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	width: 60px;

	background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
	background-size: 30px 30px;

	border-right: 3px solid red;

	box-sizing: border-box;
}
.paper::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	width: 60px;

	background: linear-gradient(
			transparent,
			transparent 13px,
			black 14px,
			black 16px,
			transparent 17px,
			transparent 30px
		)
		repeat-y;
	background-size: 15px 30px;
	border-right: 3px solid red;

	box-sizing: border-box;
}

.paper-content {
	position: absolute;
	top: 30px;
	right: 0;
	bottom: 30px;
	left: 60px;

	background: linear-gradient(transparent 29px, #91d1d3 29px);
	background-size: 30px 30px;
}

.paper-content textarea {
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;

	background: transparent;
	line-height: 30px;

	font-family: "Vujahday Script", cursive;
	font-size: x-large;
	font-weight: 500;

	color: mediumblue;
	outline: 0;
	border: 0;
	padding: 0 20px;
	resize: none;
}

.cover {
	z-index: 1;

	position: absolute;

	min-width: 400px;
	max-width: 800px;
	height: 480px;

	margin: 0 auto;

	background-color: brown;
	box-shadow: 5px 10px 20px rgb(0, 0, 0, 0.4);
	border-radius: 20px;

	transform-origin: left;
	animation: open 4.4s ease-in-out normal forwards;

	text-align: center;
	font-size: xx-large;
	font-weight: 1000;
}
.cover::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	width: 60px;

	background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
	background-size: 30px 30px;
	box-sizing: border-box;
}
.cover::after {
	content: "";

	position: absolute;
	top: 0;
	left: -10px;
	bottom: 0;

	width: 60px;

	background: linear-gradient(
			transparent,
			transparent 13px,
			black 14px,
			black 16px,
			transparent 17px,
			transparent 30px
		)
		repeat-y;
	background-size: 30px 30px;
	box-sizing: border-box;
}

/* total width */
::-webkit-scrollbar {
	display: none;
	background-color: #fff;
	width: 12px;
}

@media screen and (min-width: 640px) {
	::-webkit-scrollbar {
		display: block;
	}
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
	background-color: #fff;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 14px;
	border: 5px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #a0a0a5;
	border: 4px solid #f4f4f4;
}

@keyframes open {
	0% {
	}

	100% {
		color: transparent;
		transform: rotateY(180deg);
	}
}
